.navbar-footer {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 20px;
  background: rgb(255, 255, 255);
  color: inherit;
  margin: 0 16px;
}

.navbar-footer span {
  padding: 0 2px;
  height: 20px;
  font-size: 15px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.hidden {
  display: none;
}

@media (prefers-color-scheme: dark) {
  .navbar-footer {
    background: rgb(29, 30, 32);
  }
}
