<mat-toolbar>
    <nav class="navbar-header">
        <h1>BHHB</h1>
        <button mat-icon-button aria-label="info" (click)="infoDialog()" matTooltip="Info">
            <mat-icon>help</mat-icon>
        </button>
        <span class="toolbar-spacer"></span>
        <span>{{ this.selectedFileName }}</span>
        <button mat-icon-button aria-label="Open File" matTooltip="Open File" (click)="fileInput.click()"
            *ngIf="!this.selectedFileName">
            <mat-icon aria-hidden="false" aria-label="Open File">
                file_open
            </mat-icon>
            <input #fileInput type="file" class="hidden" accept="*" (change)="fileChanged($event)" />
        </button>
        <button mat-icon-button aria-label="Clear selected File" matTooltip="Clear selected File" (click)="fileRemoved()"
            *ngIf="this.selectedFileName">
            <mat-icon aria-hidden="false" aria-label="Clear selected File">
                clear
            </mat-icon>
        </button>
    </nav>
</mat-toolbar>
<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
