.navbar-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  height: 40px;
  background: rgb(255, 255, 255);
  color: inherit;
}

.hidden {
  display: none;
}

@media (prefers-color-scheme: dark) {
  mat-toolbar {
    background: rgb(29, 30, 32);
  }
}
