<mat-toolbar>
    <nav class="navbar-header">
        <span>Burp HTTP history viewer</span>

        <span class="toolbar-spacer"></span>
        <span>{{ this.selectedFileName }}</span>
        <button mat-icon-button aria-label="" matTooltip="Open File" (click)="fileInput.click()" *ngIf="!this.selectedFileName">
            <mat-icon aria-hidden="false" aria-label="Open File" >
                file_open
            </mat-icon>
            <input #fileInput type="file" class="hidden" accept="*" (change)="fileChanged($event)" />
        </button>
        <button mat-icon-button aria-label="" matTooltip="Open File" (click)="fileRemoved()" *ngIf="this.selectedFileName">
            <mat-icon aria-hidden="false" aria-label="Clear selected File" >
                clear
            </mat-icon>
        </button>
    </nav>
</mat-toolbar>