<as-split direction="vertical" [gutterSize]=7>
    <as-split-area [size]="60">
        <input matInput type="search" (input)="applyFilter($event)" placeholder="Search" id="search" class="search">
        <table mat-table [dataSource]="dataSource" matSort cdkDropList cdkDropListOrientation="horizontal"
            (cdkDropListDropped)="drop($event)">

            <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

            <ng-container matColumnDef="position">
                <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag> # </th>
                <td mat-cell *matCellDef="let element" title="{{element.position}}"> {{element.position}} </td>
            </ng-container>

            <ng-container matColumnDef="host">
                <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag> Host </th>
                <td mat-cell *matCellDef="let element" title="{{element.host}}"> {{element.host}} </td>
            </ng-container>

            <ng-container matColumnDef="method">
                <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag> Method </th>
                <td mat-cell *matCellDef="let element" title="{{element.method}}"> {{element.method}} </td>
            </ng-container>

            <ng-container matColumnDef="path">
                <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag> URL </th>
                <td mat-cell *matCellDef="let element" title="{{element.path}}"> {{element.path}} </td>
            </ng-container>

            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag> Status </th>
                <td mat-cell *matCellDef="let element" title="{{element.status}}"> {{element.status}} </td>
            </ng-container>

            <ng-container matColumnDef="responselength">
                <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag> Length </th>
                <td mat-cell *matCellDef="let element" title="{{element.responselength}}"> {{element.responselength}}
                </td>
            </ng-container>

            <ng-container matColumnDef="mimetype">
                <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag> MIME type </th>
                <td mat-cell *matCellDef="let element" title="{{element.mimetype}}"> {{element.mimetype}} </td>
            </ng-container>

            <ng-container matColumnDef="extension">
                <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag> Extension </th>
                <td mat-cell *matCellDef="let element" title="{{element.extension}}"> {{element.extension}} </td>
            </ng-container>

            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag> Title </th>
                <td mat-cell *matCellDef="let element" title="{{element.title}}"> {{element.title}} </td>
            </ng-container>

            <ng-container matColumnDef="comment">
                <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag> Comment </th>
                <td mat-cell *matCellDef="let element" title="{{element.comment}}"> {{element.comment}} </td>
            </ng-container>

            <ng-container matColumnDef="ip">
                <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag> IP </th>
                <td mat-cell *matCellDef="let element" title="{{element.ip}}"> {{element.ip}} </td>
            </ng-container>

            <ng-container matColumnDef="time">
                <th mat-header-cell *matHeaderCellDef mat-sort-header cdkDrag> Time </th>
                <td mat-cell *matCellDef="let element" title="{{element.time}}"> {{element.time}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="clickedRow = row"
                [class.row-is-clicked]="clickedRow == row"></tr>
        </table>
    </as-split-area>
    <as-split-area [size]="40" *ngIf="clickedRow">
        <as-split direction="horizontal" [gutterSize]=7>
            <as-split-area>
                <div class="label">
                    <span>Request #{{clickedRow.position}}</span>
                    <span class="toolbar-spacer"></span>
                    <button [class.active]="wrapRequest" (click)="wrapRequest = !wrapRequest">Wrap</button>
                </div>
                <div class="content" [class.wrapy]="wrapRequest">
                    <div id="res_headers">
                        <div *ngFor="let row of clickedRow.request[0]">
                            <span class="header_key">{{ row[0] }}</span>
                            <span *ngIf="row[1]">:&nbsp;</span>
                            <span class="header_val">{{ row[1] }}</span>
                        </div>
                    </div>
                    <br><br>
                    <div id="req_body">{{ clickedRow.request[1] }}</div>
                </div>
            </as-split-area>
            <as-split-area>
                <div class="label">
                    <span>Response</span>
                    <span class="toolbar-spacer"></span>
                    <button [class.active]="wrapResponse" (click)="wrapResponse = !wrapResponse">Wrap</button>
                </div>
                <div class="content" [class.wrapy]="wrapResponse">
                    <div id="res_headers">
                        <div class="header_inner" *ngFor="let row of clickedRow.response[0]">
                            <span class="header_key">{{ row[0] }}</span>
                            <span *ngIf="row[1]">:&nbsp;</span>
                            <span class="header_val">{{ row[1] }}</span>
                        </div>
                    </div>
                    <br><br>
                    <div id="res_body">{{ clickedRow.response[1] }}</div>
                </div>
            </as-split-area>
        </as-split>
    </as-split-area>
</as-split>
