/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
  body {
    color: rgb(255, 255, 255);
    background-color: rgb(29, 30, 32);
  }
}
app-root {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
